{% extends "layouts/app.njk" %}
{% block content %}
<section class="panel"><p>{{ intro }}</p><ul>
<li><a href="https://familienportal.de/familienportal/rechner-antraege/elterngeldrechner">{{ parental }}</a></li>
<li><a href="https://www.bmf-steuerrechner.de">{{ tax }}</a></li>
</ul></section>
{% endblock %}
